<nav>
    <ul>
        <% Object.keys(fileStructure).forEach(year => { %>
            <li>
                <span><%= year %></span>
                <ul>
                    <% Object.keys(fileStructure[year]).forEach(month => { %>
                        <li>
                            <span><%= month %></span>
                            <ul>
                                <% Object.keys(fileStructure[year][month]).forEach(day => { %>
                                    <li>
                                        <span>Day <%= day %></span>
                                        <ul>
                                            <% fileStructure[year][month][day].forEach(file => { %>
                                                <li>
                                                    <a href="<%= file.url %>">
                                                        <%= file.name %>
                                                    </a>
                                                </li>
                                            <% }); %>
                                        </ul>
                                    </li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            </li>
        <% }); %>
    </ul>
</nav>
