<nav>
    <ul>
        <% Object.keys(fileStructure).forEach(year => { %>
            <li>
                <span><%= year %></span>
                <ul>
                    <% Object.keys(fileStructure[year]).forEach(month => { %>
                        <li>
                            <span><%= month %></span>
                            <ul>
                                <% Object.keys(fileStructure[year][month]).forEach(day => { %>
                                    <li>
                                        <span>Day <%= day %></span>
                                        <ul>
                                            <% 
                                            const files = fileStructure[year][month][day];
                                            if (Array.isArray(files) && files.length > 0) { 
                                                files.forEach(file => { 
                                            %>
                                                <li>
                                                    <a href="<%= file.url %>"><%= file.name %></a>
                                                </li>
                                            <% 
                                                });
                                            } else { 
                                            %>
                                                <li><em>No files</em></li>
                                            <% 
                                            } 
                                            %>
                                        </ul>
                                    </li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            </li>
        <% }); %>
    </ul>
</nav>
<main>
    <%= content || "<h1>Welcome to the Markdown Viewer</h1>" %>
</main>
